input:disabled{
  color: #fff;
}

.error{
  color: red;
}

.btn-time{
  max-width: 45px;
}
.x {
  align-items: center;
  max-width: 70px;
}

main {
  margin-top: 60px;
}

.topo {
  border: 3px solid #009688 ;
}

.btn-menu {
  width: 200px;
}

.espaco {
  padding: 10px;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
}


.divider1 {
  width: 100%;
  height: 2px;
  overflow: hidden;
  background-color: #009688 ;
}

/*#jogos{
  width: 100%;
  height: 320px;
  overflow-x : scroll;
}*/

#hanking{
  width: 100%;
  height: 320px;
  overflow-x : scroll;
}

#timeAtleta {
  width: 100%;
  height: 400px;
  overflow-x : scroll;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  /*top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
}
