<ul id="dropdown1" class="dropdown-content">
  <li><a href="cadastrar_time.html">Cadastrar Time</a></li>
  <li><a href="cadastrar_atleta.html">Cadastrar Atleta</a></li>
  <li><a href="cadastrar_jogo.html">Cadastrar Jogo</a></li>
  <li><a href="escalar_time.html">Escalar Time</a></li>
</ul>
<div class="fixed">
  <nav class="teal z-depth-5">
    <div class="nav-wraper">
      <a href="#" class="brand-logo center">Rugby</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="view.html">Início</a></li>
        <li><a href="view_times.html">Times</a></li>
        <li><a href="view_atletas.html">Atletas</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Cadastrar<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>
